# HEALTH INSURANCE RECOMENDER SYSTEM

### Abstract

Health insurance plays a vital role in ensuring access to quality healthcare, yet many individuals in Kenya, particularly those with pre-existing conditions such as asthma, cancer, diabetes, HIV, and hypertension, face significant challenges in selecting suitable coverage. The lack of transparency, policy complexity, and financial constraints often lead to poor decision-making, leaving many either uninsured or enrolled in plans that do not adequately meet their medical needs.

To bridge this gap, this study proposes a health insurance recommender system that leverages machine learning to provide personalized policy recommendations based on an individual's medical history, financial capacity, and coverage preferences. By analyzing user profiles, the system helps individuals navigate the complex insurance landscape and choose the most appropriate plan.

With the rising prevalence of chronic illnesses in Kenya and the increasing demand for affordable, accessible health insurance, this solution aims to enhance informed decision-making. By offering data-driven, customized suggestions, the recommender system has the potential to increase health insurance uptake, minimize financial strain from medical expenses, and support Kenya’s transition toward a more efficient, technology-driven healthcare sector.

## Introduction
  
Access to quality healthcare remains a critical issue worldwide, with millions of people relying on health insurance to manage medical expenses. However, selecting the right insurance plan is a complex process, especially for individuals with **pre-existing conditions**. Health insurance systems vary globally, with developed nations offering well-structured insurance policies, while developing regions face challenges such as affordability, lack of awareness, and policy complexity.  
 
In Africa, healthcare financing is a significant challenge, with many people lacking proper health insurance coverage. Public health insurance schemes often have **limited coverage for chronic illnesses**, and private insurance plans remain expensive for the majority of the population. For individuals.  
  
Kenya's healthcare system consists of both public and private insurance providers, with the National Health Insurance Fund (NHIF) being the main public insurer. While NHIF provides some coverage for chronic illnesses, the extent of benefits varies depending on the plan selected. Many Kenyans remain uninsured or underinsured, partly due to a lack of personalized guidance on selecting the most suitable insurance policy. Individuals with pre-existing conditions often face difficulties in identifying plans that offer adequate coverage at an affordable cost.  

To address this challenge, this study develops a health insurance recommender system that helps users choose the best insurance plan based on their medical history, budget, and coverage needs. By leveraging machine learning techniques, the system will analyze user data to provide personalized recommendations, making health insurance selection impler, more accessible, and more effective for Kenyans**. Ultimately, this solution aims to increase health insurance adoption, improve healthcare access, and enhance financial protection for individuals with underlying conditions.

## Problem Statement

Despite the growing need for health insurance coverage in Kenya, many individuals, particularly those with pre-existing conditions such as asthma, cancer, diabetes, HIV, and hypertension, struggle to select suitable insurance plans that meet their medical needs and financial capacity. The complexity of policy terms, lack of personalized guidance, and financial constraints often lead to underinsurance, delayed medical care, or complete lack of coverage.

Existing public insurance schemes such as the National Health Insurance Fund (NHIF) provide limited benefits for chronic illnesses, while private insurance options remain expensive and difficult to navigate. Many Kenyans lack access to reliable information on how to choose the most cost-effective and comprehensive plan based on their unique healthcare needs.

Without a data-driven, personalized approach, individuals are left to make uninformed decisions, increasing their financial vulnerability and reducing access to quality healthcare services. There is a pressing need for a systematic, technology-driven solution that can analyze individual health profiles, budget constraints, and policy features to guide users in selecting the most appropriate insurance plan.

This study addresses this gap by exploring how machine learning can be leveraged to develop a health insurance recommender system that provides personalized recommendations based on medical history, financial capacity, and coverage needs. By enhancing accessibility and affordability, such a system has the potential to improve insurance adoption rates and contribute to a more inclusive healthcare system in Kenya.

## Objectives.



### Primary Objectives

1. Develop a recommender system that provides personalized insurance recommendations by analyzing a user’s pre-existing conditions, financial capacity, and required benefits, ensuring they select the most suitable coverage.

2. Implement techniques such as demographic-based recommendations, collaborative filtering, and default user profiles to ensure that new users receive relevant insurance suggestions even with minimal historical data.

### Secondary Objectives

3. Analyze the impact of socioeconomic factors (e.g., age, gender, income, and location) on health insurance adoption and affordability.

4. Identify gaps in insurance coverage by evaluating how individuals with chronic illnesses (asthma, diabetes, hypertension, cancer, HIV) are insured across different income levels.

5. Develop an affordability-based insurance segmentation model to recommend the best plans for low-income individuals while ensuring sufficient coverage for chronic conditions.

6. Assess the role of policy attributes (e.g., premium cost, deductibles, and benefits) in determining user preferences for health insurance selection.

## Formulating Hypothesis
- Income level significantly affects health insurance selection, with higher-income individuals opting for more comprehensive plans while lower-income individuals choose more affordable but limited coverage options.

- Individuals with pre-existing medical conditions are more likely to seek or have health insurance coverage compared to those without such conditions.

- Policy attributes such as premium costs, deductibles, and coverage limits do not significantly affect a user's preference for health insurance plans

## Data Collection and  Limitations.

`Source`: A synthetic dataset with 50,000 records, reflecting Kenya health insurance trends.

1. `Lack of Real-World Variability`
The dataset may not capture the true complexity of real-world insurance data, such as unexpected trends, outliers, or extreme cases that naturally occur in real populations.

2. `Potential Bias in Data Distribution`
The data generation process may have introduced biases, such as uniform income distribution, unrealistic correlations between variables, or oversimplified health conditions.

3. ` No Real-World Behavioral Patterns`
Unlike real datasets that capture human decision-making, synthetic data lacks true user behaviors, preferences, and external influences (e.g., government policies, market trends).

4. `Inability to Validate Against Ground Truth`
Since the dataset is not based on actual surveys, insurance records, or healthcare data, there is no ground truth to compare findings against, limiting the credibility of insights derived.

5. `Simplified Insurance Plan Attributes`
The dataset might not include key features that influence real-world insurance selection, such as policy exclusions, co-payments, waiting periods, or insurer reputation

## Data Loading and Inspection

In [47]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [48]:
#data loading
df=pd.read_csv("health_insurance_recommender.csv")
df.head()

,user_id,age,gender,country,region,employment_status,monthly_income,pre_existing_conditions,number_of_dependents,current_health_expenditure,...,education_level,recent_hospital_visits,smoking_habit,alcohol_consumption,existing_medications,disability_status,co_payment_preference,lifetime_coverage_limit,preferred_hospital,claim_reimbursement_speed
0,1,78.0,Female,Kenya,Urban,Self-Employed,342.147528,Cancer,2,2614.37,...,Bachelor's,5,No,Yes,No,Yes,High,50000,Life Healthcare,Medium
1,2,27.0,Male,Kenya,Semi-Urban,Unemployed,23.271139,NaN,1,3343.49,...,Master's,10,Yes,Yes,No,Yes,High,1000000,Netcare,Slow
2,3,74.0,Male,Kenya,Urban,Unemployed,7605.332784,NaN,5,4615.26,...,Diploma,1,No,Yes,Yes,Yes,High,1000000,Netcare,Fast
3,4,38.0,Male,Kenya,Rural,Employed,2349.243288,Cancer,3,612.38,...,Diploma,5,No,Yes,No,No,High,1000000,Netcare,Medium
4,5,43.0,Male,Kenya,Urban,Employed,17.187938,Asthma,4,2314.12,...,Bachelor's,0,No,Yes,No,Yes,High,1000000,Aga Khan Hospital,Fast

In [49]:
#overview of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52500 entries, 0 to 52499
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   user_id                      52500 non-null  int64
 1   age                          49859 non-null  float64
 2   gender                       52500 non-null  object
 3   country                      52500 non-null  object
 4   region                       52500 non-null  object
 5   employment_status            52500 non-null  object
 6   monthly_income               49864 non-null  float64
 7   pre_existing_conditions      43941 non-null  object
 8   number_of_dependents         52500 non-null  int64
 9   current_health_expenditure   52500 non-null  float64
 10  hospital_preference          52500 non-null  object
 11  previous_insurance_coverage  52500 non-null  object
 12  preferred_coverage_type      52500 non-null  object
 13  insurance_provider           52500 non-null  object
 14  plan_cost                    52500 non-null  float64
 15  deductible_amount            52500 non-null  float64
 16  out_of_pocket_max            52500 non-null  float64
 17  medication_coverage          52500 non-null  object
 18  maternity_coverage           52500 non-null  object
 19  chronic_illness_coverage     52500 non-null  object
 20  emergency_coverage           52500 non-null  object
 21  dental_coverage              52500 non-null  object
 22  vision_coverage              52500 non-null  object
 23  user_satisfaction_rating     49881 non-null  float64
 24  recommended_plan             52500 non-null  object
 25  policy_expiry_date           52500 non-null  object
 26  duplicate_plan_cost          52500 non-null  float64
 27  duplicate_country            52500 non-null  object
 28  waiting_period_months        52500 non-null  int64
 29  family_size                  52500 non-null  int64
 30  marital_status               52500 non-null  object
 31  employment_type              52500 non-null  object
 32  education_level              52500 non-null  object
 33  recent_hospital_visits       52500 non-null  int64
 34  smoking_habit                52500 non-null  object
 35  alcohol_consumption          52500 non-null  object
 36  existing_medications         52500 non-null  object
 37  disability_status            52500 non-null  object
 38  co_payment_preference        52500 non-null  object
 39  lifetime_coverage_limit      52500 non-null  int64
 40  preferred_hospital           52500 non-null  object
 41  claim_reimbursement_speed    52500 non-null  object
dtypes: float64(8), int64(6), object(28)
memory usage: 16.8+ MB

In [50]:
#statistical summary
df.describe()

,user_id,age,monthly_income,number_of_dependents,current_health_expenditure,plan_cost,deductible_amount,out_of_pocket_max,user_satisfaction_rating,duplicate_plan_cost,waiting_period_months,family_size,recent_hospital_visits,lifetime_coverage_limit
count,52500.000000,49859.000000,49864.000000,52500.000000,52500.000000,52500.000000,52500.000000,52500.000000,49881.000000,52500.000000,52500.000000,52500.000000,52500.000000,52500.000000
mean,24980.571486,48.535911,2229.294781,2.492286,2542.757659,599.710239,113.864270,381.808335,3.001423,27581.730840,4.911219,3.501067,4.990590,315353.333333
std,14433.032416,17.922048,3993.264625,1.705581,1416.930992,1029.239746,200.843563,634.008554,1.419540,13051.249725,6.010216,1.709279,3.155993,347630.969988
min,1.000000,18.000000,1.281549,0.000000,100.030000,1.260237,0.126121,1.260728,1.000000,5000.160000,0.000000,1.000000,0.000000,0.000000
25%,12479.750000,33.000000,59.004709,1.000000,1316.652500,22.398519,3.185938,21.623265,2.000000,16220.612500,1.000000,2.000000,2.000000,50000.000000
50%,24974.500000,48.000000,611.079480,2.000000,2540.765000,168.510240,31.528224,107.380008,3.000000,27641.475000,3.000000,4.000000,5.000000,100000.000000
75%,37471.250000,64.000000,1360.548180,4.000000,3766.235000,354.352950,69.125184,215.736066,4.000000,38970.142500,6.000000,5.000000,8.000000,500000.000000
max,50000.000000,79.000000,19434.987400,5.000000,4999.990000,4859.763804,971.922240,2915.811432,5.000000,49999.710000,24.000000,6.000000,10.000000,1000000.000000

In [51]:
#rows and columns
rows, columns = df.shape

print(f"No: of rows {rows}\n No: of coumns {columns}")

No: of rows 52500
 No: of coumns 42

In [52]:
#dataset datatypes
df.dtypes.value_counts()

object     28
float64     8
int64       6
Name: count, dtype: int64

In [53]:
#names of the column features
df.columns

Index(['user_id', 'age', 'gender', 'country', 'region', 'employment_status',
       'monthly_income', 'pre_existing_conditions', 'number_of_dependents',
       'current_health_expenditure', 'hospital_preference',
       'previous_insurance_coverage', 'preferred_coverage_type',
       'insurance_provider', 'plan_cost', 'deductible_amount',
       'out_of_pocket_max', 'medication_coverage', 'maternity_coverage',
       'chronic_illness_coverage', 'emergency_coverage', 'dental_coverage',
       'vision_coverage', 'user_satisfaction_rating', 'recommended_plan',
       'policy_expiry_date', 'duplicate_plan_cost', 'duplicate_country',
       'waiting_period_months', 'family_size', 'marital_status',
       'employment_type', 'education_level', 'recent_hospital_visits',
       'smoking_habit', 'alcohol_consumption', 'existing_medications',
       'disability_status', 'co_payment_preference', 'lifetime_coverage_limit',
       'preferred_hospital', 'claim_reimbursement_speed'],
      dtype='object')

In [54]:
#distribution of the target variable

df["preferred_coverage_type"].value_counts()

preferred_coverage_type
Standard    17676
Premium     17500
Basic       17324
Name: count, dtype: int64

## Data Cleaning

### 1. `Handling missing values`

In [55]:
#checking and handling missing values
missing_values = df.isnull().sum()

print(missing_values[missing_values>0])


#cal the % of the missing values
missing_values_pecentage=df.isnull().sum()/len(df)
#keep cols with missing
missing_values_pecentage= missing_values_pecentage[missing_values_pecentage>0]
#sort in asc order
missing_values_pecentage = missing_values_pecentage.sort_values(ascending=False)

#display missing value %

print("***************************************************************\n")
print(missing_values_pecentage)

age                         2641
monthly_income              2636
pre_existing_conditions     8559
user_satisfaction_rating    2619
dtype: int64
***************************************************************

pre_existing_conditions     0.163029
age                         0.050305
monthly_income              0.050210
user_satisfaction_rating    0.049886
dtype: float64

In [56]:
#importing missing values
#age
median_age=df["age"].median()
df["age"].fillna(median_age,inplace=True)

#monthly income
mean_income =df["monthly_income"].mean()
df["monthly_income"].fillna(mean_income, inplace=True)

#user_satisfaction_rating
mode_rating = df["user_satisfaction_rating"].mode()[0]
df["user_satisfaction_rating"].fillna(mode_rating,inplace=True)

#pre_exisiting conditions
df.dropna(subset=['pre_existing_conditions'], inplace=True)

In [57]:
#veryfiying that there are no missing values after imputation

if df.isnull().sum().sum()>0: #counts missing values in the entire dataset
    print("The dataset has missing values")
else:
    print('The datset has no missing values')

The datset has no missing values

### 2. `Handling duplicated columns`

In [58]:
#creatinga func to check id the  dataset has duplicate columns
def find_duplicate_columns(df):
    
    duplicate_columns = {}
    columns = df.columns

    for i in range(len(columns)):
        for j in range(i + 1, len(columns)):  # Compare each column with the rest
            if df[columns[i]].equals(df[columns[j]]):  # Check if two columns are identical
                duplicate_columns[columns[j]] = columns[i]  # Store duplicate mapping

    return duplicate_columns
# printing the duplicate column names
duplicates = find_duplicate_columns(df)
if duplicates:
    print("Duplicate columns found:")
    for duplicate, original in duplicates.items():
        print(f"'{duplicate}' is a duplicate of '{original}'")
else:
    print("No duplicate columns found.")

Duplicate columns found:
'duplicate_country' is a duplicate of 'country'

In [59]:
#dropping the duplicated columns to improve clarity and usability.

df.drop(['duplicate_country'],axis=1, inplace=True)

# rerunning the code to ensure that the duplicated column has been removed from the dataset.
duplicates = find_duplicate_columns(df)
if duplicates:
    print("Duplicate columns found:")
    for duplicate, original in duplicates.items():
        print(f"'{duplicate}' is a duplicate of '{original}'")
else:
    print("No duplicate columns found.")

No duplicate columns found.

# Explanatory Data Analysis(EDA)