# Introduction

# Problem Statement

# Objectives

# Data Limitations

# Data Understanding

Import neccessary libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Read the dataset in the notebook

In [3]:
data = pd.read_csv('C:/Users/hp/Desktop/DATA NEXUS PROJECTS/Health-Insurance-Recommender-System/health_insurance_recommender.csv')
data.head() #display the first 5 rows of our dataset

,user_id,age,gender,country,region,employment_status,monthly_income,pre_existing_conditions,number_of_dependents,current_health_expenditure,...,education_level,recent_hospital_visits,smoking_habit,alcohol_consumption,existing_medications,disability_status,co_payment_preference,lifetime_coverage_limit,preferred_hospital,claim_reimbursement_speed
0,1,78.0,Female,Kenya,Urban,Self-Employed,342.147528,Cancer,2,2614.37,...,Bachelor's,5,No,Yes,No,Yes,High,50000,Life Healthcare,Medium
1,2,27.0,Male,Kenya,Semi-Urban,Unemployed,23.271139,None,1,3343.49,...,Master's,10,Yes,Yes,No,Yes,High,1000000,Netcare,Slow
2,3,74.0,Male,Kenya,Urban,Unemployed,7605.332784,None,5,4615.26,...,Diploma,1,No,Yes,Yes,Yes,High,1000000,Netcare,Fast
3,4,38.0,Male,Kenya,Rural,Employed,2349.243288,Cancer,3,612.38,...,Diploma,5,No,Yes,No,No,High,1000000,Netcare,Medium
4,5,43.0,Male,Kenya,Urban,Employed,17.187938,Asthma,4,2314.12,...,Bachelor's,0,No,Yes,No,Yes,High,1000000,Aga Khan Hospital,Fast

In [5]:
data.tail() #display the last 5 rows of our dataset

,user_id,age,gender,country,region,employment_status,monthly_income,pre_existing_conditions,number_of_dependents,current_health_expenditure,...,education_level,recent_hospital_visits,smoking_habit,alcohol_consumption,existing_medications,disability_status,co_payment_preference,lifetime_coverage_limit,preferred_hospital,claim_reimbursement_speed
52495,6270,35.0,Male,Kenya,Semi-Urban,Employed,15.893020,None,3,3499.20,...,High School,5,Yes,Yes,Yes,No,Low,50000,Life Healthcare,Slow
52496,2178,41.0,Female,Kenya,Rural,Self-Employed,49.476436,Cancer,3,3036.13,...,Bachelor's,8,Yes,No,Yes,No,High,0,Life Healthcare,Medium
52497,25231,58.0,Other,Kenya,Semi-Urban,Unemployed,2314.782792,HIV,2,4483.59,...,PhD,5,No,Yes,No,Yes,Low,1000000,Mediheal,Slow
52498,8637,50.0,Other,Kenya,Rural,Unemployed,11.434256,Asthma,0,1676.98,...,High School,0,No,Yes,No,No,High,500000,Life Healthcare,Medium
52499,33073,37.0,Other,Kenya,Semi-Urban,Unemployed,10147.409780,HIV,3,855.74,...,PhD,7,No,Yes,Yes,No,High,50000,Mediheal,Medium

In [6]:
data.info() #information about the whole dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52500 entries, 0 to 52499
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   user_id                      52500 non-null  int64
 1   age                          49859 non-null  float64
 2   gender                       52500 non-null  object
 3   country                      52500 non-null  object
 4   region                       52500 non-null  object
 5   employment_status            52500 non-null  object
 6   monthly_income               49864 non-null  float64
 7   pre_existing_conditions      52500 non-null  object
 8   number_of_dependents         52500 non-null  int64
 9   current_health_expenditure   52500 non-null  float64
 10  hospital_preference          52500 non-null  object
 11  previous_insurance_coverage  52500 non-null  object
 12  preferred_coverage_type      52500 non-null  object
 13  insurance_provider           52500 non-null  object
 14  plan_cost                    52500 non-null  float64
 15  deductible_amount            52500 non-null  float64
 16  out_of_pocket_max            52500 non-null  float64
 17  medication_coverage          52500 non-null  object
 18  maternity_coverage           52500 non-null  object
 19  chronic_illness_coverage     52500 non-null  object
 20  emergency_coverage           52500 non-null  object
 21  dental_coverage              52500 non-null  object
 22  vision_coverage              52500 non-null  object
 23  user_satisfaction_rating     49881 non-null  float64
 24  recommended_plan             52500 non-null  object
 25  policy_expiry_date           52500 non-null  object
 26  duplicate_plan_cost          52500 non-null  float64
 27  duplicate_country            52500 non-null  object
 28  waiting_period_months        52500 non-null  int64
 29  family_size                  52500 non-null  int64
 30  marital_status               52500 non-null  object
 31  employment_type              52500 non-null  object
 32  education_level              52500 non-null  object
 33  recent_hospital_visits       52500 non-null  int64
 34  smoking_habit                52500 non-null  object
 35  alcohol_consumption          52500 non-null  object
 36  existing_medications         52500 non-null  object
 37  disability_status            52500 non-null  object
 38  co_payment_preference        52500 non-null  object
 39  lifetime_coverage_limit      52500 non-null  int64
 40  preferred_hospital           52500 non-null  object
 41  claim_reimbursement_speed    52500 non-null  object
dtypes: float64(8), int64(6), object(28)
memory usage: 16.8+ MB

In [8]:
data.describe().T #statistical summary of the numerical columns

,count,mean,std,min,25%,50%,75%,max
user_id,52500.0,24980.571486,14433.032416,1.000000,12479.750000,24974.500000,37471.250000,50000.000000
age,49859.0,48.535911,17.922048,18.000000,33.000000,48.000000,64.000000,79.000000
monthly_income,49864.0,2229.294781,3993.264625,1.281549,59.004709,611.079480,1360.548180,19434.987400
number_of_dependents,52500.0,2.492286,1.705581,0.000000,1.000000,2.000000,4.000000,5.000000
current_health_expenditure,52500.0,2542.757659,1416.930992,100.030000,1316.652500,2540.765000,3766.235000,4999.990000
plan_cost,52500.0,599.710239,1029.239746,1.260237,22.398519,168.510240,354.352950,4859.763804
deductible_amount,52500.0,113.864270,200.843563,0.126121,3.185938,31.528224,69.125184,971.922240
out_of_pocket_max,52500.0,381.808335,634.008554,1.260728,21.623265,107.380008,215.736066,2915.811432
user_satisfaction_rating,49881.0,3.001423,1.419540,1.000000,2.000000,3.000000,4.000000,5.000000
duplicate_plan_cost,52500.0,27581.730840,13051.249725,5000.160000,16220.612500,27641.475000,38970.142500,49999.710000
waiting_period_months,52500.0,4.911219,6.010216,0.000000,1.000000,3.000000,6.000000,24.000000
family_size,52500.0,3.501067,1.709279,1.000000,2.000000,4.000000,5.000000,6.000000
recent_hospital_visits,52500.0,4.990590,3.155993,0.000000,2.000000,5.000000,8.000000,10.000000
lifetime_coverage_limit,52500.0,315353.333333,347630.969988,0.000000,50000.000000,100000.000000,500000.000000,1000000.000000

In [9]:
data.columns #display the columns in our dataset

Index(['user_id', 'age', 'gender', 'country', 'region', 'employment_status',
       'monthly_income', 'pre_existing_conditions', 'number_of_dependents',
       'current_health_expenditure', 'hospital_preference',
       'previous_insurance_coverage', 'preferred_coverage_type',
       'insurance_provider', 'plan_cost', 'deductible_amount',
       'out_of_pocket_max', 'medication_coverage', 'maternity_coverage',
       'chronic_illness_coverage', 'emergency_coverage', 'dental_coverage',
       'vision_coverage', 'user_satisfaction_rating', 'recommended_plan',
       'policy_expiry_date', 'duplicate_plan_cost', 'duplicate_country',
       'waiting_period_months', 'family_size', 'marital_status',
       'employment_type', 'education_level', 'recent_hospital_visits',
       'smoking_habit', 'alcohol_consumption', 'existing_medications',
       'disability_status', 'co_payment_preference', 'lifetime_coverage_limit',
       'preferred_hospital', 'claim_reimbursement_speed'],
      dtype='object')

In [11]:
data.shape #display the number of rows and columns in our dataset
#our dataset has 52,500 rows and 42 columns

(52500, 42)

In [15]:
data.dtypes.value_counts() #display the datatype count of the columns

object     28
float64     8
int64       6
dtype: int64